PRE_RECORD_SECONDS=1
DEVICE_MODE=LIVE


# prod values values
# SERVER_ENDPOINT=http://85.160.80.133:81/server/messages/
# API_KEY=---


# debug values
SERVER_ENDPOINT=http://10.0.0.211:3000/messages/
API_KEY=69dc30b1-7adf-4362-9777-3f425f3047db