API_KEY=
SERVER_ENDPOINT=http://localhost:3000/messages/

SAMPLE_RATE=24000
CHANNELS=1
VOLUME_THRESHOLD=0.02
SILENCE_MS=1000
PRE_ROLL_MS=500
REQUEST_TIMEOUT_MS=30000
DEBUG=false

RECORDER=ffmpeg
PLAYER=ffplay
INPUT_DEVICE=
AUDIO_DIR=recordings
